<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1,460},{303,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,256}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1422,273},{269,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{269,256}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1680,263},{269,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,256}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{914,709},{269,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,256}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1680,521},{267,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,248}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1172,686},{269,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{241,238}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1724,779},{241,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,234}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{404,209},{249,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,256}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1422,544},{269,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{214,224}</string>
                <key>spriteSourceSize</key>
                <string>{216,226}</string>
                <key>textureRect</key>
                <string>{{914,980},{214,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,224}</string>
                <key>spriteSourceSize</key>
                <string>{216,226}</string>
                <key>textureRect</key>
                <string>{{1172,957},{214,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1,732},{303,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{190,206}</string>
                <key>textureRect</key>
                <string>{{1,1004},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,184}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{725,1037},{144,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{640,273},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1398,989},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,164}</string>
                <key>spriteSourceSize</key>
                <string>{155,166}</string>
                <key>textureRect</key>
                <string>{{1713,1022},{151,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{279,258}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1141,273},{279,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,260}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1671,1},{289,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,260}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{850,273},{289,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{756,1},{303,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1061,1},{303,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{1366,1},{303,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{306,460},{303,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{301,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{306,765},{301,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{578,460},{303,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,270}</string>
                <key>spriteSourceSize</key>
                <string>{303,270}</string>
                <key>textureRect</key>
                <string>{{609,765},{303,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,230}</string>
                <key>spriteSourceSize</key>
                <string>{401,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{401,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,172}</string>
                <key>spriteSourceSize</key>
                <string>{304,174}</string>
                <key>textureRect</key>
                <string>{{1422,815},{300,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,225}</string>
                <key>spriteSourceSize</key>
                <string>{367,225}</string>
                <key>textureRect</key>
                <string>{{1,233},{367,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,206}</string>
                <key>spriteSourceSize</key>
                <string>{350,206}</string>
                <key>textureRect</key>
                <string>{{404,1},{350,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,94}</string>
                <key>spriteSourceSize</key>
                <string>{164,94}</string>
                <key>textureRect</key>
                <string>{{189,1004},{164,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,139}</string>
                <key>spriteSourceSize</key>
                <string>{224,141}</string>
                <key>textureRect</key>
                <string>{{285,1037},{222,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,151}</string>
                <key>spriteSourceSize</key>
                <string>{265,153}</string>
                <key>textureRect</key>
                <string>{{1152,533},{261,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,127}</string>
                <key>spriteSourceSize</key>
                <string>{216,129}</string>
                <key>textureRect</key>
                <string>{{509,1037},{214,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,128}</string>
                <key>spriteSourceSize</key>
                <string>{215,130}</string>
                <key>textureRect</key>
                <string>{{1583,989},{213,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,172}</string>
                <key>spriteSourceSize</key>
                <string>{304,174}</string>
                <key>textureRect</key>
                <string>{{850,535},{300,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boxs.png</string>
            <key>size</key>
            <string>{1963,1209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b730426568b75b9413cf22b77934333a:989b5536b3fa35f4cecd61b84aa1cd4d:45269df1b331ba5754312e9931ca35f7$</string>
            <key>textureFileName</key>
            <string>boxs.png</string>
        </dict>
    </dict>
</plist>
