<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{839,879},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{174,39}</string>
                <key>spriteSourceSize</key>
                <string>{180,45}</string>
                <key>textureRect</key>
                <string>{{714,838},{174,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,108}</string>
                <key>spriteSourceSize</key>
                <string>{350,110}</string>
                <key>textureRect</key>
                <string>{{366,848},{346,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,108}</string>
                <key>spriteSourceSize</key>
                <string>{350,110}</string>
                <key>textureRect</key>
                <string>{{626,626},{344,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,100}</string>
                <key>spriteSourceSize</key>
                <string>{350,110}</string>
                <key>textureRect</key>
                <string>{{626,736},{338,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{674,958},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,75}</string>
                <key>spriteSourceSize</key>
                <string>{125,75}</string>
                <key>textureRect</key>
                <string>{{714,879},{123,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{363,94}</string>
                <key>spriteSourceSize</key>
                <string>{365,100}</string>
                <key>textureRect</key>
                <string>{{1,848},{363,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{201,20}</string>
                <key>spriteSourceSize</key>
                <string>{215,30}</string>
                <key>textureRect</key>
                <string>{{471,958},{201,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imge_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,10}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{279,944},{12,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,30}</string>
                <key>spriteSourceSize</key>
                <string>{280,30}</string>
                <key>textureRect</key>
                <string>{{1,944},{276,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,26}</string>
                <key>spriteSourceSize</key>
                <string>{190,26}</string>
                <key>textureRect</key>
                <string>{{279,958},{190,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,140}</string>
                <key>spriteSourceSize</key>
                <string>{52,142}</string>
                <key>textureRect</key>
                <string>{{909,838},{50,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{623,845}</string>
                <key>spriteSourceSize</key>
                <string>{625,847}</string>
                <key>textureRect</key>
                <string>{{1,1},{623,845}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>window_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{623,342}</string>
                <key>spriteSourceSize</key>
                <string>{625,348}</string>
                <key>textureRect</key>
                <string>{{626,1},{623,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{971,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b63bcc535a5b04e85d7531e523eb0790:f8a9a61470c500220e0300026d7620e2:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
